<body class="login-body">
    <div id ="userViewModel" class="container">
        <form class="form-signin cmxform tasi-form" id="form-signup" href="test.html">

            <h2 class="form-signin-heading">registration now</h2>
            <div class="login-wrap">
                <p>Enter your personal details below</p>
                <input type="hidden" value="✓" name="utf8">
                <input type="hidden" value="e9tOuOqQPuXgZx29yNF15Z1exvt1usVQicHH9X2+mz8imLuiao08zpv3AuT7tqJzkJ44ncx6tMaDgwYCh/IfGw==" name="authenticity_token">
                <div class="form-group">
                    <input type="text" class="form-control" id="email" placeholder="Email" name="email" data-bind="value: email" autofocus>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="first_name" placeholder="First Name" name="first_name" data-bind="value: first_name" autofocus>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="last_name" placeholder="Last Name" name="last_name" data-bind="value: last_name" autofocus>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Choose your role:</label>
                    <div class="radios">
                        <label class="label_radio col-lg-6 col-sm-6" for="researcher">
                            <input name="Reg_Role" id="researcher" data-bind="checked: researcher" type="radio" value="true"/> Researcher 
                        </label>
                        <label class="label_radio col-lg-6 col-sm-6" for="investor">
                            <input name="Reg_Role" id="investor" data-bind="checked: investor" type="radio" value="true"/> Investor
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="encrypted_password" placeholder="Password" name="encrypted_password" data-bind="value: encrypted_password" autofocus>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="reset_password_token" placeholder="Re-type Password" name="reset_password_token" data-bind="value: reset_password_token" autofocus>
                </div>
                <button   class="btn btn-lg btn-login btn-block" data-bind="click: postUser">
                    Sign Up</button>
            </div>
        </form>
        <script src="/assets/public/addUser.js"  type="text/javascript" >
        </script>
    </div>
</body>


