<section id="main-content">
    <section class="wrapper">
        <div id="projectDetailsViewModel">
            <div class="row state-overview">
                <div class="col-md-6 ">
                    <section class="panel">
                        <div class="symbol terques small-symbol">
                            <i class="icon-file"></i>
                        </div>
                        <div  data-bind="foreach: projects" class="value small-value">
                            <h1 class="count" data-bind="text:project.title"></h1>
                            <div class="row ">

                                <p data-bind="foreach: project.authors" >Created by 

                                    <a  data-bind="text: first_name + last_name"></a></p> 

                                <span data-bind="text: project.created_at"></span>
                            </div>


                        </div>
                    </section>
                </div>
                <div class="col-md-3 ammount">
                    <section class="panel">
                        <div class="ammount-head">
                            <h5>Request amount</h5>
                        </div>
                        <footer class="ammount-footer">
                            <h4 data-bind="text: requestLength"></h4>
                        </footer>
                    </section>
                </div>
                <div class="col-md-3 ammount">
                    <section class="panel">
                        <div class="ammount-head">
                            <h5>Fund amount</h5>
                        </div>
                        <footer class="ammount-footer">
                            <h4 data-bind="text: FundLength"></h4>
                        </footer>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div data-bind="foreach: projects" class="col-md-8">
                                    <h4>Project Description</h4>
                                    <p data-bind="text: project.description"></p>
                                </div>
                                <div class="col-md-4">
                                    <h4>Project investor</h4>

                                    <ul class="list-group">
                                        <div  data-bind="foreach: projects">
                                            <table data-bind="foreach: project.investors" class="list-group-item">
                                                <tr>
                                                    <td  data-bind="text: first_name + last_name"></th>
                                            </table>
                                        </div>

                                        <li class="list-group-item" style="margin-top: -2px;">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <button class="btn btn-white btn-block" onclick=" postInvestor()"><i class="icon-plus"></i> invest to this project </button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Project Requests
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">

                                <table cellpadding="0" cellspacing="0" border="0" class="display table" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th  style="width: 15%; text-align: center;"> </th>
                                            <th  style="width: 20%;  text-align: center;">Item</th>
                                            <th  style="width: 10%;  text-align: center;">Amount</th>
                                            <th  style="width: 10%;  text-align: center;">Full Fill</th>
                                            <th  style="width: 20%;  text-align: center;">Date</th>
                                            <th  style="width: 25%; text-align: center;">Action</th>
                                        </tr>
                                    </thead>  
                                </table>

                                <div class="accordion" id="accordion2" data-bind="foreach: {data: request_Items.pageItems, as: 'items'}">
                                    <!-- ko template: 'accordionTmpl' --><!-- /ko -->
                                </div>

                                <script type="text/html" id="accordionTmpl">
                                    <div class="accordion-group">
                                        <div class="accordion-heading" style="
                                             border-top: 1px solid #ddd;
                                             ">
                                            <table  >
                                                <tbody >
                                                    <tr>
                                                        <td style="width: 20%; text-align: center;"><img  class="plus" data-toggle="collapse" data-parent="#accordion2"  data-bind="text: items.requestDate, attr: { href: '#' + items.requestID}"></td>

                                                        <td  style="width: 11%; text-align: center;" data-bind="text: items.itemName"></td>
                                                        <td  style="width: 11%; text-align: center;" data-bind="text: items.filledAmountUSD"></td>
                                                        <td  style="width: 11%; text-align: center;" text-align: center; data-bind="text: items.priceUSD"></td>
                                                        <td  style="width: 24%; text-align: center;" data-bind="text: items.requestDate"></td>
                                                        <td  style="width: 25%; text-align: center;" style="text-align: center;">
                                                            <a data-bind="click: $parent.openBuyModal" class='btn btn-shadow btn-primary'  href="#smart-modal-buy" data-toggle="modal"><i class='icon-chevron-sign-up'></i>  Buy </a> 
                                                            <a data-bind="click: $parent.openSellModal" class='btn btn-shadow btn-primary'  href="#smart-modal-sell" data-toggle="modal"><i class='icon-chevron-sign-down'></i>  Sell </a>
                                                        </td>
                                                    </tr>

                                                </tbody>

                                            </table>


                                        </div>
                                        <div class="accordion-body collapse" data-bind="attr: { id: items.requestID}">
                                            <div class="accordion-inner">
                                                <table cellpadding="0" cellspacing="0" border="0" class="display table"  style="width: 100%;">
                                                    <thead>
                                                        <tr  style=" text-align: center;">
                                                            <th  style="width: 15%; text-align: center;" >transaction</th>
                                                            <th  style="width: 15%; text-align: center;">type</th>
                                                            <th  style="width: 20%;text-align: center; ">amount in BTC</th>
                                                            <th  style="width: 20%; text-align: center;">amount in $</th>
                                                            <th  style="width: 15%; text-align: center;">date</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="transaction" data-bind="foreach: {data: items.fullFills, as: 'subitems'}" >
                                                        <tr  style=" text-align: center;">
                                                            <td style="width: 15%; "data-bind="text: fillID"></td>
                                                            <td style="width: 15%; " data-bind="text: fullFillType"></td>
                                                            <td style="width: 15%; "data-bind="text: fillAmount"></td>
                                                            <td style="width: 15%; "data-bind="text: fillAmount"></td>
                                                            <td style="width: 15%; "data-bind="text: fillDate"></td>
                                                        </tr>
                                                    </tbody></tbody>

                                            </div>
                                        </div>
                                    </div>
                                    </script>
                                    <ul class="pagination pagination-gap" style="display: inline-block; overflow: hidden; text-align: center; margin-bottom: 20px;">

                                        <li style="float: left;" data-bind="css: { disabled: request_Items.isFirstPage() }" class="previous disabled">
                                            <a href="#" aria-label="First" data-bind="click: request_Items.toFirstPage">
                                                First
                                            </a>
                                        </li>
                                        <li style="float: left;" data-bind="css: { disabled: !request_Items.hasPreviousPage() }" class="previous disabled">
                                            <a href="#" aria-label="Previous" data-bind="click: request_Items.toPreviousPage">
                                                Previous
                                            </a>
                                        </li>
                                        <!-- ko foreach: request_Items.pages -->
                                        <li style="float: left;" data-bind="css: { active: $data == $parent.request_Items.pageNumber() }">
                                            <a href="#" data-bind="text: $data, click:  $parent.request_Items.pageNumber.bind($data)"></a>
                                        </li>
                                        <!-- /ko -->
                                        <li style="float: left;" data-bind="css: { disabled: !request_Items.hasNextPage() }" class="next disabled">
                                            <a href="#" aria-label="Next" data-bind="click: request_Items.toNextPage">
                                                Next
                                            </a>
                                        </li>
                                        <li style="float: left;" data-bind="css: { disabled: request_Items.isLastPage() }" class="next disabled">
                                            <a href="#" aria-label="Last" data-bind="click: request_Items.toLastPage">
                                                Last
                                            </a>
                                        </li>
                                    </ul>

                                    <div role="dialog" class="modal" id="smart-modal-buy" >
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                                    <h4 class="modal-title">Buy Position Form</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="buy" role="form">
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <div class="form-group">
                                                                    <img class="qrImage" alt=""/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <button class="btn btn-primary btn-shadow btn-block "><i class="icon-chevron-sign-up"></i>  Buy Item </button>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-7"> 
                                                                <div class="form-group prepend-icon">
                                                                    <label for="Wallet_GUID">Wallet GUID</label>
                                                                    <input id="Your_Account" class="form-control" type="text" placeholder="Your Wallet GUID" name="Wallet_GUID">
                                                                    <span class="field-icon"><i class="icon-credit-card"></i></span> 
                                                                </div>
                                                                <div class="form-group prepend-icon">
                                                                    <label for="Wallet_Pass">Wallet Password</label>
                                                                    <input id="Wallet_Pass" class="form-control" type="text" placeholder="Your Wallet Password" name="Wallet_Pass">
                                                                    <span class="field-icon"><i class="icon-lock"></i></span> 
                                                                </div>
                                                                <div class="form-group prepend-icon">
                                                                    <label for="Amount_BTC">Amount in BTC</label>
                                                                    <input id="Amount_BTC" class="form-control" type="text" placeholder="Your Amount [BTC]" name="Amount_BTC">
                                                                    <span class="field-icon"><i class="icon-money"></i></span> 
                                                                </div>
                                                                <div class="alert alert-success" style="margin-top: 5px;">
                                                                    <p><strong>BlockChain Amount:</strong> <span class="number">50 BC</span></p>
                                                                </div>      
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div role="dialog" class="modal" id="smart-modal-sell">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                                    <h4 class="modal-title">Sell Position Form</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form id ="sell"role="form">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-group prepend-icon">
                                                                    <label for="Sell_Amount">Sell Amount</label>
                                                                    <input type="text" class="form-control" id="Sell_Amount" placeholder="Sell Amount" name="Sell_Amount">
                                                                    <span class="field-icon"><i class="icon-money"></i></span>
                                                                </div>

                                                                <div class="form-group prepend-icon">
                                                                    <label for="Your_Account">Your Account</label>
                                                                    <input id="Your_Account" class="form-control" type="text" placeholder="Your Account" name="Your_Account">
                                                                    <span class="field-icon"><i class="icon-user"></i></span>                                                  
                                                                </div>
                                                                <div class="form-group prepend-icon">
                                                                    <button class="btn btn-primary btn-shadow btn-block"><i class="icon-chevron-sign-down"></i>  Sell Item </button>
                                                                </div> 
                                                            </div>
                                                            <div class="col-sm-6"> 
                                                                <div class="alert alert-success" style="margin-top: 20px;">
                                                                    <p><span>Our Wallet [BTC]</span></p>
                                                                    <br>
                                                                    <p><strong>BlockChain Amount:</strong> <span class="number">50 BC</span></p>
                                                                    <p><strong>Recevied Amount:</strong> <span class="number">15</span></p>
                                                                </div>      
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script src="/assets/addInvestor.js"  type="text/javascript" /></script>

                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </section>
