<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <title>Elmhurst</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="assets/style_index.css" media="screen" charset="utf-8">
  </head>
  <body class='image_bg'>
    <div class="preload-bg">
    <div class="wrapp">
      <div > </div>
    </div>
    <div class='container colaborate'>
      <div class='row'>
        <div class="col-md-6 top-50 bottom-10">
          <div class='logo bottom-30'></div>
        </div>
      </div>
      <div class="row txt-white">
        <div class="col-md-6 col-md-push-3">
          <h1 class="bottom-30">Welcome, happy you made it.</h1>
          <p class="bottom-30">
            The Elmhurst Project is a philanthropic brokerage designed to give academic researchers
            access to the funding required for studies. In a world of bureaucratic loopholes,
            unreliable sources of financing, and unclear private accountability,
            The Elmhurst Project is transparent, reliable, and seamless.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 bottom-10">
          <a href="/users/sign_in" name="button" class="button pushed btn-primary expand">Researchers</a>
          <a href="/users/sign_in" name="button" class="button pushed btn-primary expand">Investors</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 bottom-10">
          <a href="/users/sign_up" name="button" class="button pushed expand">SignUp</a>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
