
- if current_user && current_user.researcher?
   <div id="hedaerViewModel">
   <!--header start-->
   <header class="header white-bg">
   <div class="sidebar-toggle-box">
   <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
   </div>
   <!--logo start-->
   <a href="Researcher" class="logo"></a>
   <!--logo end-->
   <div class="nav notify-row" id="top_menu"> </div>
   <div class="top-nav ">
   <ul class="nav pull-right top-menu">
   <!-- user login dropdown start-->
   <li class="dropdown">
   <a   data-bind="foreach: user"  data-toggle="dropdown" class="dropdown-toggle" href="#">
   <img class="profile_pic" alt=""/>
   <span data-bind="text: FirstName() + LastName()" class="username"></span>
   <b class="caret"></b>
   </a>
   <ul class="dropdown-menu extended logout">
   <div class="log-arrow-up"> </div>

   %li.icon-suitcase= link_to 'Profile', edit_user_registration_path

   %li.icon-key2= link_to 'Log Out', destroy_user_session_path, method: :delete
               
   <li></li>
   </ul>
   </li>
   <!-- user login dropdown end -->
   </ul>
   </div>   </header>
   <!--header end-->
   <!--sidebar start-->
   <aside>
   <div id="sidebar"  class="nav-collapse ">
   <!-- sidebar menu start-->
   <ul class="sidebar-menu" id="nav-accordion">
   <li>
   <a class="active" href="/Researcher">
   <i class="icon-dashboard"></i>
   <span>Dashboard</span>
   </a>
   </li>
   <li class="sub-menu">
   <a href="javascript:;" >
   <i class="icon-btc"></i>
   <span>Nonprofits</span>
   </a>
   <ul class="sub">
   <li><a  href="/request">Submit Request</a></li>
   </ul>
   </li>
   <li class="sub-menu">
   <a href="javascript:;" >
   <i class="icon-file"></i>
   <span>Affiliates</span>
   </a>
   <ul class="sub">
   <li><a  href="/new">Add Affiliate</a></li>

   <li><a  href="/researcher-project">View Affiliate</a></li>

   </ul>
   </li>
   </ul>
   </div>
   </aside>
   <!--sidebar end-->
   </div>
   <script src="/assets/public/heder.js"  type="text/javascript" /> </script>
- if current_user && current_user.investor?
   <div id="hedaerViewModel">
   <section id="container" >
   <!--header start-->
   <header class="header white-bg">
   <div class="sidebar-toggle-box">
   <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
   </div>
   <!--logo start-->
   <a href="Investor" class="logo"></a>
   <!--logo end-->
   <div class="nav notify-row" id="top_menu"> </div>
   <div class="top-nav ">
   <ul class="nav pull-right top-menu">
   <!-- user login dropdown start-->
   <li class="dropdown">
   <a data-bind="foreach: user"  data-toggle="dropdown" class="dropdown-toggle" href="#">
   <img class="profile_pic" alt=""/>
   <span data-bind="text: FirstName() + LastName()" class="username"></span>
   <b class="caret"></b>
   </a>
   <ul class="dropdown-menu extended logout">
   <div class="log-arrow-up"> </div>

  
   %li.icon-suitcase= link_to 'Profile', edit_user_registration_path

   %li.icon-key2= link_to 'Log Out', destroy_user_session_path, method: :delete
   
   <li></li>
   </ul>
   </li>
   <!-- user login dropdown end -->
   </ul>
   </div>   </header>
   <!--header end-->
   <!--sidebar start-->
   <aside>
   <div id="sidebar"  class="nav-collapse ">
   <!-- sidebar menu start-->
   <ul class="sidebar-menu" id="nav-accordion">
   <li>
   <a class="active" href="/Investor">
   <i class="icon-dashboard"></i>
   <span>Dashboard</span>
   </a>
   </li>
   <li class="sub-menu">
   <a href="javascript:;" >
   <i class="icon-btc"></i>
   <span>Investor</span>
   </a>
   <ul class="sub">
   <li><a  href="/investor-account">Account</a></li>
   <li><a  href="/users/edit">Profile</a></li>
   </ul>
   </li>
   <li class="sub-menu">
   <a href="javascript:;" >
   <i class="icon-file"></i>
   <span>Portfolio</span>
   </a>
   <ul class="sub">
   <li><a  href="/open-trades">Open Trades</a></li>
   <li><a  href="/trade-history">Trade History</a></li>
   </ul>
   </li>
   </ul>
   <!-- sidebar menu end-->
   </div>
   </aside>
   <!--sidebar end-->
   </div>
   <script src="/assets/public/heder.js"  type="text/javascript" /> </script>
